<footer class="footer">
   <a href="#">
      <svg></svg>
   </a>
   <ul class="footer__social social">
      <li class="social__item"><a href="#" class="social__link"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
      <li class="social__item"><a href="#" class="social__link"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
      <li class="social__item"><a href="#" class="social__link"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
      <li class="social__item"><a href="#" class="social__link"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
      <li class="social__item"><a href="#" class="social__link"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li class="social__item"><a href="#" class="social__link"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      <li class="social__item"><a href="#" class="social__link"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
   </ul>
</footer>  