<section class="new-listings stand-width">
	<h2 class="section__header">new listings</h2>
	<div class="new-listings__wrapper">
		<div class="new-listings__services services">
			<h4 class="services__header">Holiday Accomodations</h4>
			<div class="services__accomod accomod">
				<div class="services__block block--1">
					<p class="block__direction">Caribbean Islands</p>
					<p class="block__direction type">Cruise - days from Miami</p>
					<a href="#" class="block__price">
						<span class="dest__word">from</span>
						<span class="dest__price">$ 799</span>
					</a>
				</div>
				<div class="services__block block--2">
					<p class="block__direction">Caribbean Islands</p>
					<p class="block__direction type">Cruise - days from Miami</p>
					<a href="#" class="block__price">
						<span class="dest__word">from</span>
						<span class="dest__price">$ 799</span>
					</a>
				</div>
				<div class="services__block block--3">
					<p class="block__direction">Caribbean Islands</p>
					<p class="block__direction type">Cruise - days from Miami</p>
					<a href="#" class="block__price">
						<span class="dest__word">from</span>
						<span class="dest__price">$ 799</span>
					</a>
				</div>
			</div>
		</div>
		<div class="new-listings__services services">
			<h4 class="services__header">Trips, Tours & Activities</h4>
			<div class="services__trip trip">
				<div class="services__block block--4">
					<p class="block__direction">Caribbean Islands</p>
					<p class="block__direction type">Cruise - days from Miami</p>
					<a href="#" class="block__price">
						<span class="dest__word">from</span>
						<span class="dest__price">$ 799</span>
					</a>
				</div>
				<div class="services__block block--5">
					<p class="block__direction">Caribbean Islands</p>
					<p class="block__direction type">Cruise - days from Miami</p>
					<a href="#" class="block__price">
						<span class="dest__word">from</span>
						<span class="dest__price">$ 799</span>
					</a>
				</div>
				<div class="services__block block--6">
					<p class="block__direction">Caribbean Islands</p>
					<p class="block__direction type">Cruise - days from Miami</p>
					<a href="#" class="block__price">
						<span class="dest__word">from</span>
						<span class="dest__price">$ 799</span>
					</a>
				</div>
			</div>
		</div>
		<div class="new-listings__services services">
			<h4 class="services__header">Local Rentals & Services</h4>
			<div class="services__rental rental">
				<div class="services__block block--7">
					<p class="block__direction">Caribbean Islands</p>
					<p class="block__direction type">Cruise - days from Miami</p>
					<a href="#" class="block__price">
						<span class="dest__word">from</span>
						<span class="dest__price">$ 799</span>
					</a>
				</div>
				<div class="services__block block--8">
					<p class="block__direction">Caribbean Islands</p>
					<p class="block__direction type">Cruise - days from Miami</p>
					<a href="#" class="block__price">
						<span class="dest__word">from</span>
						<span class="dest__price">$ 799</span>
					</a>
				</div>
				<div class="services__block block--9">
					<p class="block__direction">Caribbean Islands</p>
					<p class="block__direction type">Cruise - days from Miami</p>
					<a href="#" class="block__price">
						<span class="dest__word">from</span>
						<span class="dest__price">$ 799</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>