<section class="news stand-width">
	<h2 class="section__header">news</h2>
	<div class="news__gallery gallery">
		<div class="gallery__item item--1">
			<a href="#" class="gallery__text">Very important news came from India</a>
			<div class="gallery__hover-inf hover-inf">
				<h4 class="hover-inf__header">Very important news came from India</h4>
				<p class="hover-inf__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin rhoncus nisi, nec volutpat arcu consectetur et. Aliquam varius placerat enim id blandit. Maecenas hendrerit interdum arcu vitae sagittis. Aliquam varius placerat enim id blandit...</p>
				<a href="#" class="user__link">Reed more ›</a>
			</div>
		</div>
		<div class="gallery__item item--2">
			<a href="#" class="gallery__text">Very important news came from India</a>
			<div class="gallery__hover-inf hover-inf">
				<h4 class="hover-inf__header">Very important news came from India</h4>
				<p class="hover-inf__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin rhoncus nisi, nec volutpat arcu consectetur et. Aliquam varius placerat enim id blandit. Maecenas hendrerit interdum arcu vitae sagittis. Aliquam varius placerat enim id blandit...</p>
				<a href="#" class="user__link">Reed more ›</a>
			</div>
		</div>
		<div class="gallery__item item--3">
			<a href="#" class="gallery__text">Very important news came from India</a>
			<div class="gallery__hover-inf hover-inf">
				<h4 class="hover-inf__header">Very important news came from India</h4>
				<p class="hover-inf__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin rhoncus nisi, nec volutpat arcu consectetur et. Aliquam varius placerat enim id blandit. Maecenas hendrerit interdum arcu vitae sagittis. Aliquam varius placerat enim id blandit...</p>
				<a href="#" class="user__link">Reed more ›</a>
			</div>
		</div>
		<div class="gallery__item item--4">
			<a href="#" class="gallery__text">Very important news came from India</a>
			<div class="gallery__hover-inf hover-inf">
				<h4 class="hover-inf__header">Very important news came from India</h4>
				<p class="hover-inf__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin rhoncus nisi, nec volutpat arcu consectetur et. Aliquam varius placerat enim id blandit. Maecenas hendrerit interdum arcu vitae sagittis. Aliquam varius placerat enim id blandit...</p>
				<a href="#" class="user__link">Reed more ›</a>
			</div>
		</div>
		<div class="gallery__item item--5">
			<a href="#" class="gallery__text">Very important news came from India</a>
			<div class="gallery__hover-inf hover-inf">
				<h4 class="hover-inf__header">Very important news came from India</h4>
				<p class="hover-inf__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin rhoncus nisi, nec volutpat arcu consectetur et. Aliquam varius placerat enim id blandit. Maecenas hendrerit interdum arcu vitae sagittis. Aliquam varius placerat enim id blandit...</p>
				<a href="#" class="user__link">Reed more ›</a>
			</div>
		</div>
		<div class="gallery__item item--6">
			<a href="#" class="gallery__text">Very important news came from India</a>
			<div class="gallery__hover-inf hover-inf">
				<h4 class="hover-inf__header">Very important news came from India</h4>
				<p class="hover-inf__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin rhoncus nisi, nec volutpat arcu consectetur et. Aliquam varius placerat enim id blandit. Maecenas hendrerit interdum arcu vitae sagittis. Aliquam varius placerat enim id blandit...</p>
				<a href="#" class="user__link">Reed more ›</a>
			</div>
		</div>
	</div>
	<a href="#" class="news__link-all">Read all news</a>
</section>