<section class="ratings stand-width">
	<h2 class="section__header">ratings and reviews</h2>
	<div class="ratings__container">
		<div class="ratings__best-advice best-advice">
			<div class="best-advice__large-img large-img">
				<div class="large-img__top-descr">
					<span class="large-img__header">best destination</span>
					<div class="large-img__stars">
						<i class="fa fa-star fa-2x"></i>
						<i class="fa fa-star fa-2x"></i>
						<i class="fa fa-star fa-2x"></i>
						<i class="fa fa-star-o fa-2x"></i>
						<i class="fa fa-star-o fa-2x"></i>
					</div>
				</div>
				<div class="large-img__bottom-descr">
					<div class="large-img__dest dest">
						<div class="large-img__bot-header">
							<a href="#" class="dest__link"><h4 class="dest__header">Andaman islands</h4></a>
							<span class="dest__word">from</span>
							<span class="dest__price price--large">$ 799</span>
						</div>
						<div class="large-img__bot-details">
							<ul class="dest__advantages advantages">
								<li class="advantages__item">
									<span class="item__number">192</span>
									<span class="item__text">Day Tours, Trips and Activities to do;</span>
								</li>
								<li class="advantages__item">
									<span class="item__number">244</span>
									<span class="item__text">Holliday Accomodations;</span>
								</li>
								<li class="advantages__item">
									<span class="item__number">42</span>
									<span class="item__text">kinds of local Rentals & Services</span>
								</li>
							</ul>
							<a href="#" class="large-img__shop">shop now</a>
						</div>
					</div>
				</div>
			</div>
			<div class="best-advice__small-img small-img">
				<div class="best-advice__small-img--first">
					<div class="small-img__top-descr">
						<span class="small-img__header">best trip activity</span>
						<div class="small-img__stars">
							<i class="fa fa-star fa-2x"></i>
							<i class="fa fa-star fa-2x"></i>
							<i class="fa fa-star fa-2x"></i>
							<i class="fa fa-star fa-2x"></i>
							<i class="fa fa-star fa-2x"></i>
						</div>
					</div>
					<div class="dest__place-price">
						<a href="#" class="dest__link"><h4 class="dest__header--shrinked">Carpathian mountains</h4></a>
						<span class="dest__word">from</span>
						<span class="dest__price">$ 799</span>
					</div>
				</div>
				<div class="best-advice__small-img--second">
					<div class="small-img__top-descr">
						<span class="small-img__header">best accomodation</span>
						<div class="small-img__stars">
							<i class="fa fa-star fa-2x"></i>
							<i class="fa fa-star fa-2x"></i>
							<i class="fa fa-star fa-2x"></i>
							<i class="fa fa-star fa-2x"></i>
							<i class="fa fa-star fa-2x"></i>
						</div>
					</div>
					<div class="dest__place-price">
						<a href="#" class="dest__link"><h4 class="dest__header--shrinked">Andaman islads</h4></a>
						<span class="dest__word">from</span>
						<span class="dest__price">$ 799</span>
					</div>
				</div>
			</div>
			<div class="reviews__more">
				<a href="#" class="best-advice__more-link">more</a>
				<a href="#" class="best-advice__view-all">View all TripsPoint Ratings</a>
			</div>
		</div>
		<div class="ratings__reviews reviews">
			<div class="reviews__slider slider">
				<div class="slider__sitem sitem">
					<div class="sitem__text">
						<h4 class="sitem__header">The most interesting museum I ever saw visiting Europe</h4>
						<div class="sitem__rate rate">
							<div class="rate__stars">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o"></i>
								<i class="fa fa-star-o"></i>
								<span class="rate__number">(3.3)</span>
							</div>
							<time>13 Sep 2016</time>
						</div>
						<p class="sitem__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin rhoncus nisi, nec volutpat arcu consectetur et. Aliquam varius placerat enim id blandit. Maecenas...</p>
						<a href="#" class="sitem__link">Reed full review ›</a>
					</div>
					<div class="sitem__user user">
						<i class="user__foto"></i>
						<div class="user__data">
							<div class="user__info">
								<p class="user__name">Edvard T</p>
								<p class="user__home">California, USA</p>
							</div>
							<a href="#" class="user__link">Travelers blog ›</a>
						</div>
					</div>
				</div>
				<div class="slider__sitem sitem">
					<div class="sitem__text">
						<h4 class="sitem__header">The most interesting museum I ever saw visiting Europe</h4>
						<div class="sitem__rate rate">
							<div class="rate__stars">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o"></i>
								<i class="fa fa-star-o"></i>
								<span class="rate__number">(3.3)</span>
							</div>
							<time>13 Sep 2016</time>
						</div>
						<p class="sitem__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin rhoncus nisi, nec volutpat arcu consectetur et. Aliquam varius placerat enim id blandit. Maecenas...</p>
						<a href="#" class="sitem__link">Reed full review ›</a>
					</div>
					<div class="sitem__user user">
						<i class="user__foto"></i>
						<div class="user__data">
							<div class="user__info">
								<p class="user__name">Edvard T</p>
								<p class="user__home">California, USA</p>
							</div>
							<a href="#" class="user__link">Travelers blog ›</a>
						</div>
					</div>
				</div>
				<div class="slider__sitem sitem sitem--last">
					<div class="sitem__text">
						<h4 class="sitem__header">The most interesting museum I ever saw visiting Europe</h4>
						<div class="sitem__rate rate">
							<div class="rate__stars">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o"></i>
								<i class="fa fa-star-o"></i>
								<span class="rate__number">(3.3)</span>
							</div>
							<time>13 Sep 2016</time>
						</div>
						<p class="sitem__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin rhoncus nisi, nec volutpat arcu consectetur et. Aliquam varius placerat enim id blandit. Maecenas...</p>
						<a href="#" class="sitem__link">Reed full review ›</a>
					</div>
					<div class="sitem__user user user-hiden">
						<i class="user__foto"></i>
						<div class="user__data">
							<div class="user__info">
								<p class="user__name">Edvard T</p>
								<p class="user__home">California, USA</p>
							</div>
							<a href="#" class="user__link">Travelers blog ›</a>
						</div>
					</div>
				</div>
			</div>
			<div class="reviews__more">
				<a href="#" class="best-advice__more-link">more</a>
				<a href="#" class="best-advice__view-all">View all TripsPoint Ratings</a>
			</div>
		</div>
	</div>
</section>