<section class="search-details__container">
	<div class="search-details__data data">
		<h1 class="data__header">your journey begins now</h1>
		<p class="data__descr">Unique Tours, trips, activities, accommodations, rental services & things to do from local companies and people all the world around</p>
		<form class="data__search-fields search-fields">
			<label for="search-fields__where" class="icon-place">
				<input class="search-fields__where" type="text" placeholder="Where are you going?">
			</label>
			<label for="search-fields__forwhat" class="icon-bust">
				<input class="search-fields__forwhat" type="text" placeholder="What are you looking for?">
			</label>
			<input class="search-fields__button" type="submit" value="SEARCH">
		</form>
	</div>
	<div class="search-details__steps steps">
		<div class="steps__container">
			<div class="steps__number">	
				<span class="number-centered">1</span>
			</div>
			<div class="steps__descript">
				<h5 class="steps__header">book before you go</h5>
				<p class="steps__text">Pay just a small Booking Deposit to confirm your booking.</p>
			</div>
		</div>
		<div class="steps__container">
			<div class="steps__number">	
				<span class="number-centered">2</span>
			</div>
			<div class="steps__descript">
				<h5 class="steps__header">get your e-ticket</h5>
				<p class="steps__text">Save it in phone or print and take with you to your travel destination</p>
			</div>
		</div>
		<div class="steps__container">
			<div class="steps__number">	
				<span class="number-centered">3</span>
			</div>
			<div class="steps__descript">
				<h5 class="steps__header">use your e-ticket</h5>
				<p class="steps__text">Show e-Ticket of your travel destination and pay the balance on the day of activity</p>
			</div>
		</div>
	</div>
</section>