<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../assets/css/main.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<title>Tripspoint</title>
	</head>
	<body>
		<div class="wrapper">
			<section class="head">	
			//= partials/header.html
			//= partials/search-details.html
			</section>
			<main>
				//= partials/section-map.html
				//= partials/ratings.html
				//= partials/new-listings.html
				//= partials/news.html
				//= partials/bottom.html
				//= partials/footer.html
			</main>
		</div>
	</body>
</html>