.wrapper {
	font-family: 'gotham-pro';
}

.header__logo {
	display: block;
	height: 10rem;
	width: 11rem;
	background: url(../images/logos/top-logo.svg) no-repeat center center;
	background-color: red;

}